*,
*::after,
*::before {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

/* Typography */

:root {
  --color-primary: rgb(232, 101, 123);
  --color-secondary: rgb(130, 231, 130);
}
body {
  font-size: 2rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 2rem;
  width: 100%;
}

.btn {
  height: fit-content;
  border: 0;
  padding: 0.5rem 2rem;
  font-weight: 600;
  border-radius: 2rem;
  margin: 1rem;
}
.btn--primary {
  background: var(--color-primary);
}

.btn--secondary {
  background: var(--color-secondary);
}

.btn--block {
  max-width: fit-content;
}

/* card styles */

.card {
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
  padding: 2rem;
  width: 100%;
}

.card--shadow {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.card__btn {
  display: flex;
  align-self: center;
}
@media screen and (min-width: 768px) {
  .card {
    width: 80%;
  }
  .card__btn{
    align-self: flex-end;
  }
}

/* Container */

.container {
  width: 100%;
  min-width: 50vh;
  min-height: 50vh;
  max-width: 1280px;
  border: 2px solid #222;
  padding: 1rem;
}

/* Todo */

.todo {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.todo__header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-self: flex-start;
}

.todo__heading {
  margin: 0;
  font-size: 3rem;
  display: inline-block;
}

.todo__item{
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 3rem 0;
}
.todo__result {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 480px) {
  .todo__header {
    flex-direction: row;
  }
}

/* List */
.list {
  width: 100%;
  padding: 0;
  list-style: none;
}

/* form */

.form__field {
  overflow: hidden;
  display: grid;
  row-gap: 1rem;
  margin: 1rem;
}

.form__field input[type="text"] {
  border: 0;
  border-bottom: 2px solid #333;
  outline: 0;
}
.form__btn {
  margin-top: 2rem;
}

@media screen and (min-width: 768px) {
  .form__field {
    grid-template-columns: 1fr 4fr;
    column-gap: 1rem;
  }
  .form__btn {
    margin-top: 5rem;
  }
}
/* hide form */

.get-form {
  margin: 2rem 0;
  display: none;
}
